<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register page</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url  'registerpage'%}">
         {% csrf_token %}
        <label>Name</label>
        <input name="name" type="text"><br>

        <label>Email</label>
        <input name="email" type="email"><br>

        <label>Phone</label>
        <input name="phone" type="number"><br>

        <label>Password</label>
        <input name="password" type="password"><br>

        <label>Image</label>
        <input name="image" type="File"><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>